@font-face {
  font-family: "Red Letter";
  src: url("../Tomatoes-O8L8.ttf");
}
#text-jumbotron {
  display: inline;
  background: rgba(0, 0, 0, 0.3);
  font-family: "Red Letter";
}
.jumbotron {
  height: 500px;
  color: aliceblue;
}
.jumbotron .desc-jumbotron {
  padding-top: 200px;
  margin-bottom: -200px;
  padding-left: 50px;
}
