@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
h2 {
  font-family: "Yellowtail", cursive;
}
.jumbotron {
  height: 500px;
  color: aliceblue;
}
.jumbotron .desc-jumbotron {
  padding-top: 200px;
  margin-bottom: -200px;
  padding-left: 50px;
}
