.navbar h3 {
  padding: 0 20px;
  font-size: 25px;
  color: aliceblue;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px 0 5px;
  background: rgba(0, 0, 0, 0.3);
}
.navbar a {
  color: aliceblue;
  text-decoration: none;
}
.navbar li {
  font-size: 20px;
  display: inline;
  padding: 0 20px 0 20px;
}
